@import "styles/tokens.scss";

.link {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  padding: 0 2px;
  &:hover {
    color: white;
  }
  &.animateRipple {
    span.ripple {
      width: calc(100% * 2.25);
      padding-top: calc(100% * 2.25);
    }
  }
  &.animateClick {
    background-color: $primary-darkest;
    span.ripple {
      width: 0;
      padding-top: 0;
    }
  }
  span.ripple {
    position: absolute;
    content: "";
    z-index: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: $primary-dark;
    transform: translate(-50%, -50%);
    transition: width 0.25s, padding-top 0.25s;
  }
  span.text {
    position: relative;
    z-index: 5;
  }
}

.button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  line-height: 1;
  overflow: hidden;
  transition: background-color 0.1s;
  span.text {
    position: relative;
    z-index: 5;
  }
  span.ripple {
    position: absolute;
    display: block;
    content: "";
    z-index: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: $primary-dark;
    transform: translate(-50%, -50%);
    transition: width 0.25s, padding-top 0.25s;
  }
}
.button--primary {
  color: white;
  background-color: $primary-medium;
  &.animateRipple {
    span.ripple {
      width: calc(100% * 2.25);
      padding-top: calc(100% * 2.25);
    }
  }
  &.animateClick {
    background-color: $primary-darkest;
    span.ripple {
      width: 0;
      padding-top: 0;
    }
  }
}
.button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button--small {
  font-size: $font-size-xxs;
  padding: $spacing-squish-xxs;
}
.button--medium {
  font-size: $font-size-xs;
  padding: $spacing-squish-xs;
}
.button--large {
  font-size: $font-size-sm;
  padding: $spacing-squish-sm;
}

.button--xlarge {
  font-size: $font-size-md;
  padding: $spacing-squish-md;
}
