
$primary-medium: rgb(100, 223, 223);
$primary-dark: rgb(86, 207, 225);
$primary-darkest: rgb(72, 191, 227);
$primary-light: rgb(114, 239, 221);
$primary-lightest: rgb(128, 255, 219);
$secondary-medium: rgb(0, 0, 0);
$secondary-dark: rgb(0, 0, 0);
$secondary-darkest: rgb(0, 0, 0);
$secondary-light: rgb(0, 0, 0);
$secondary-lightest: rgb(0, 0, 0);
$tertiary-medium: rgb(188, 190, 192);
$tertiary-dark: rgb(188, 190, 192);
$tertiary-darkest: rgb(188, 190, 192);
$tertiary-light: rgb(188, 190, 192);
$tertiary-lightest: rgb(188, 190, 192);
$color-primary-medium: rgb(100, 223, 223);
$color-primary-dark: rgb(86, 207, 225);
$color-primary-darkest: rgb(72, 191, 227);
$color-primary-light: rgb(114, 239, 221);
$color-primary-lightest: rgb(128, 255, 219);
$color-secondary-medium: rgb(0, 0, 0);
$color-tertiary-medium: rgb(188, 190, 192);
$border-primary-medium: rgb(100, 223, 223);
$border-primary-dark: rgb(86, 207, 225);
$border-primary-darkest: rgb(72, 191, 227);
$border-primary-light: rgb(114, 239, 221);
$border-primary-lightest: rgb(128, 255, 219);
$border-secondary-medium: rgb(0, 0, 0);
$border-tertiary-medium: rgb(188, 190, 192);
$opacity-light-transparent: rgb(237, 237, 237);
$opacity-light-semi-transparent: rgb(218, 218, 218);
$opacity-light-medium: rgb(181, 181, 181);
$opacity-light-intense: rgb(107, 107, 107);
$opacity-light-semi-opaque: rgb(70, 70, 70);
$opacity-dark-transparent: rgb(42, 42, 42);
$opacity-dark-semi-transparent: rgb(61, 61, 61);
$opacity-dark-medium: rgb(98, 98, 98);
$opacity-dark-intense: rgb(172, 172, 172);
$opacity-dark-semi-opaque: rgb(209, 209, 209);
$neutral-70: rgb(24, 24, 24);
$neutral-60: rgb(38, 38, 38);
$neutral-50: rgb(115, 115, 115);
$neutral-40: rgb(153, 153, 153);
$neutral-30: rgb(191, 191, 191);
$neutral-20: rgb(230, 230, 230);
$neutral-10: rgb(250, 250, 250);
$neutral-white: rgb(255, 255, 255);
$color-neutral-70: rgb(24, 24, 24);
$color-neutral-60: rgb(38, 38, 38);
$color-neutral-50: rgb(115, 115, 115);
$color-neutral-40: rgb(153, 153, 153);
$color-neutral-30: rgb(191, 191, 191);
$color-neutral-20: rgb(230, 230, 230);
$color-neutral-10: rgb(250, 250, 250);
$color-neutral-white: rgb(255, 255, 255);
$border-neutral-70: rgb(24, 24, 24);
$border-neutral-60: rgb(38, 38, 38);
$border-neutral-50: rgb(115, 115, 115);
$border-neutral-40: rgb(153, 153, 153);
$border-neutral-30: rgb(191, 191, 191);
$border-neutral-10: rgb(250, 250, 250);
$border-neutral-white: rgb(255, 255, 255);
$red-medium: rgb(255, 36, 98);
$red-dark: rgb(203, 0, 58);
$red-darkest: rgb(116, 0, 33);
$red-light: rgb(255, 101, 145);
$red-lightest: rgb(255, 167, 192);
$yellow-medium: rgb(255, 233, 36);
$yellow-dark: rgb(203, 183, 0);
$yellow-darkest: rgb(116, 105, 0);
$yellow-light: rgb(255, 240, 101);
$yellow-lightest: rgb(255, 246, 167);
$green-medium: rgb(36, 255, 124);
$green-dark: rgb(0, 203, 81);
$green-darkest: rgb(0, 116, 47);
$green-light: rgb(101, 255, 163);
$green-lightest: rgb(167, 255, 202);
$blue-medium: rgb(36, 242, 255);
$blue-dark: rgb(0, 190, 203);
$blue-darkest: rgb(0, 109, 116);
$blue-light: rgb(101, 245, 255);
$blue-lightest: rgb(167, 249, 255);
$color-red-medium: rgb(255, 36, 98);
$color-red-dark: rgb(203, 0, 58);
$color-red-darkest: rgb(116, 0, 33);
$color-red-light: rgb(255, 101, 145);
$color-red-lightest: rgb(255, 167, 192);
$color-yellow-medium: rgb(255, 233, 36);
$color-yellow-dark: rgb(203, 183, 0);
$color-yellow-darkest: rgb(116, 105, 0);
$color-yellow-light: rgb(255, 240, 101);
$color-yellow-lightest: rgb(255, 246, 167);
$color-green-medium: rgb(36, 255, 124);
$color-green-dark: rgb(0, 203, 81);
$color-green-darkest: rgb(0, 116, 47);
$color-green-light: rgb(101, 255, 163);
$color-green-lightest: rgb(167, 255, 202);
$color-blue-medium: rgb(36, 242, 255);
$color-blue-dark: rgb(0, 190, 203);
$color-blue-darkest: rgb(0, 109, 116);
$color-blue-light: rgb(101, 245, 255);
$color-blue-lightest: rgb(167, 249, 255);
$border-red-medium: rgb(255, 36, 98);
$border-red-dark: rgb(203, 0, 58);
$border-red-darkest: rgb(116, 0, 33);
$border-red-light: rgb(255, 101, 145);
$border-red-lightest: rgb(255, 167, 192);
$border-yellow-medium: rgb(255, 233, 36);
$border-yellow-dark: rgb(203, 183, 0);
$border-yellow-darkest: rgb(116, 105, 0);
$border-yellow-light: rgb(255, 240, 101);
$border-yellow-lightest: rgb(255, 246, 167);
$border-green-medium: rgb(36, 255, 124);
$border-green-dark: rgb(0, 203, 81);
$border-green-darkest: rgb(0, 116, 47);
$border-green-light: rgb(101, 255, 163);
$border-green-lightest: rgb(167, 255, 202);
$border-blue-medium: rgb(36, 242, 255);
$border-blue-dark: rgb(0, 190, 203);
$border-blue-darkest: rgb(0, 109, 116);
$border-blue-light: rgb(101, 245, 255);
$border-blue-lightest: rgb(167, 249, 255);
$border-width-none: 0;
$border-width-sm: 1px;
$border-width-md: 2px;
$border-radius-none: 0;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-radius-circle: 50%;
$border-radius-pill: 500px;
$opacity-transparent: 8%;
$opacity-semi-transparent: 16%;
$opacity-medium: 32%;
$opacity-intense: 64%;
$opacity-semi-opaque: 80%;
$shadow-color-light-1: rgba(0, 0, 0, 0.04);
$shadow-color-light-2: rgba(0, 0, 0, 0.08);
$shadow-color-light-3: rgba(0, 0, 0, 0.16);
$elevation-level-light-1: 0 4px 8px 0 $shadow-color-light-1;
$elevation-level-light-2: 0 4px 24px 0 $shadow-color-light-2;
$elevation-level-light-3: 0 4px 48px 0 $shadow-color-light-3;
$shadow-color-dark-1: rgba(0, 0, 0, 0.24);
$shadow-color-dark-2: rgba(0, 0, 0, 0.48);
$shadow-color-dark-3: rgba(0, 0, 0, 0.96);
$elevation-level-dark-1: 0 4px 24px 0 $shadow-color-dark-1;
$elevation-level-dark-2: 0 4px 24px 0 $shadow-color-dark-2;
$elevation-level-dark-3: 0 4px 48px 0 $shadow-color-dark-3;
$spacing-stack-xxxs: 2px;
$spacing-stack-xxs: 4px;
$spacing-stack-xs: 8px;
$spacing-stack-sm: 16px;
$spacing-stack-md: 24px;
$spacing-stack-lg: 32px;
$spacing-stack-xl: 64px;
$spacing-stack-xxl: 96px;
$spacing-stack-xxxl: 128px;
$spacing-inline-xxxs: 2px;
$spacing-inline-xxs: 4px;
$spacing-inline-xs: 8px;
$spacing-inline-sm: 16px;
$spacing-inline-md: 24px;
$spacing-inline-lg: 32px;
$spacing-inline-xl: 64px;
$spacing-inline-xxl: 96px;
$spacing-inset-xxxs: 2px;
$spacing-inset-xxs: 4px;
$spacing-inset-xs: 8px;
$spacing-inset-sm: 16px;
$spacing-inset-md: 24px;
$spacing-inset-lg: 32px;
$spacing-inset-xl: 64px;
$spacing-squish-xxxs: 2px 4px;
$spacing-squish-xxs: 4px 8px;
$spacing-squish-xs: 8px 16px;
$spacing-squish-sm: 16px 24px;
$spacing-squish-md: 24px 32px;
$spacing-squish-lg: 32px 64px;
$font-family-primary: Hurme Geometric Sans;
$font-family-secondary: Lato;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-xxs: 10.24px;
$font-size-xs: 12.8px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 25px;
$font-size-xl: 31.25px;
$font-size-xxl: 39.06px;
$font-size-xxxl: 48.83px;
$line-height-display: 160%;
$line-height-heading: 140%;
$line-height-short-text: 150%;
$line-height-long-text: 150%;
$text-decoration-allcaps: uppercase;
$text-decoration-underline: underline;
$text-left: left;
$text-right: right;
$text-center: center;
$text-justify: justify;
$motion-ease-default: cubic-bezier(.32, .01, .32, 1);
$motion-ease-out: cubic-bezier(0, 0, .56, 1);
$motion-ease-in: cubic-bezier(.4, 0, 1, 1);
$motion-ease-error: undefined;
$motion-duration-fast-1: 160ms;
$motion-duration-fast-2: 240ms;
$motion-duration-fast-3: 320ms;
$motion-duration-moderate-1: 400ms;
$motion-duration-moderate-2: 560ms;
$motion-duration-slow-1: 800ms;
$motion-duration-slow-2: 960ms;
$layout-grid-sm-size: 600px;
$layout-grid-sm-container: 100%;
$layout-grid-sm-columns: 4;
$layout-grid-sm-margin: 16px;
$layout-grid-sm-gutter: 16px;
$layout-grid-md-size: 960px;
$layout-grid-md-container: 100%;
$layout-grid-md-columns: 8;
$layout-grid-md-margin: 32px;
$layout-grid-md-gutter: 16px;
$layout-grid-lg-sidebar-close: 80px;
$layout-grid-lg-sidebar-close-size: 1280px;
$layout-grid-lg-sidebar-close-container: 100%;
$layout-grid-lg-sidebar-close-columns: 12;
$layout-grid-lg-sidebar-close-margin: 32px;
$layout-grid-lg-sidebar-close-gutter: 16px;
$layout-grid-lg-sidebar-open: 220px;
$layout-grid-lg-sidebar-open-size: 1280px;
$layout-grid-lg-sidebar-open-container: 100%;
$layout-grid-lg-sidebar-open-columns: 12;
$layout-grid-lg-sidebar-open-margin: 32px;
$layout-grid-lg-sidebar-open-gutter: 16px;
$layout-grid-xl-sidebar-close: 220px;
$layout-grid-xl-sidebar-close-size: 1600px;
$layout-grid-xl-sidebar-close-container: 1600px;
$layout-grid-xl-sidebar-close-columns: 12;
$layout-grid-xl-sidebar-close-margin: 48px;
$layout-grid-xl-sidebar-close-gutter: 16px;
$layout-grid-xl-sidebar-open: 80px;
$layout-grid-xl-sidebar-open-size: 1600px;
$layout-grid-xl-sidebar-open-container: 1600px;
$layout-grid-xl-sidebar-open-columns: 12;
$layout-grid-xl-sidebar-open-margin: 48px;
$layout-grid-xl-sidebar-open-gutter: 16px;
